*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; 
}

::-webkit-scrollbar {display: none;}

html{
  height:100%; 
}
body{
  font-family: 'Spartan', sans-serif;
}

#header-title-scroll-down {
    display: block;
    position: absolute;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    bottom: 15px;
    left: 50%;
    margin-left: -25px;
    width: 40px;
    height: 40px;
    line-height: 44px;
    border-radius: 50%;
    border: 1px solid;
    opacity: 0.6;
    transition: opacity 0.5s ease 0s;
    overflow-x: visible; 
}

header{
  min-height: 100vh;
  background-image: url('../img/moraleja_comp.jpg');
  background-size: cover;
  background-position: 50% 50%;
}

/* -----START --- MENU------------- */

nav{
  background:rgba(80, 80, 80, 0.157) ;
  padding: 0 15px;
  transition: top 0.5s;
}
nav .item a{
 color: rgb(255, 255, 255);
 text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.959);
 text-decoration: none;
}
nav .toggle a{
  color: black;
  text-decoration: none;
}

.menu{
  list-style-type: none;
  overflow-x: visible;
}
.logo img{
  width: 150px;
  height: auto;
  padding: 7.5px 10px 0px 10px;
}
.menu .item{
  padding: 5px;
  font-size: 0.8em;
}
.menu .item :hover{
  color: rgb(48, 47, 47);
}

/* MOBILE NAVEGATION */

.menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li a{
  display: block;
  padding: 15px 5px;
  
}
nav .item a{
  padding: 1.2em;
}

.toggle{
  order: 1;
  font-size: 20px;
}
.item{
  order: 2; /* cambiamos el orden, items aparecen los ultimos */
  width: 100%; /* se queda el la linea de arriba el logo y navebar, los items bajan */
  text-align: center;
  display: none; /* desaparecen */
}

.active .item{       /* para volver a mostrar los item */
  display: block;
}



@media all and (min-width:700px){
   .menu{
      justify-content: center;
  }

  .logo{
      flex: 1;
  }
  
}

@media all and (max-width:500px){
  nav .item a{
    padding: 1em;
    font-size: 2em;
    margin: 28px auto;
    color: rgb(223, 223, 223);
  }
  nav{
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 2;
  }

/*   header{ 
    background-image: url('../img/moraleja_big_mobil.jpg');
  } */
}



/* Desktop Menu */

@media all and (min-width:960px){
  .item{
      order:1; /* queremos que aparezcan despues del logo, sirve mejor mara menus con mas botones y submenus */
      position: relative;
      display: block;
      width: auto;
  }
  .toggle{
      display: none;
  }
}

/* END MENU */


/* <!-- START: About Our Agency --> */
.aboutUs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100vw;
    padding: 3em;
    line-height: 2em;
}
.aboutUs img{
    width: 500px;
    height: auto;  
}
.aboutUs p{
  margin-top: 2em;
  font-family: 'Spartan', sans-serif;
  font-size: 1.3em;
  text-align: left;
  max-width: 60%;
  overflow-x: visible; 
  text-align: justify;   /* el texto de periodico */
  /* overflow-wrap: break-word;
 word-wrap: break-word; */
}

.aboutUs a{
  text-decoration: none;
  color: #233f8dc7;
  cursor: pointer;
  
}

#more {display: none;}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .aboutUs{
    height: auto;
  }

  .aboutUs p{
    margin: 1em auto;
    font-size: 1em;
    max-width: 80%;
   /*  padding: 1em; */
  }
}


@media only screen and (max-width: 768px) {
  
  .aboutUs{
    height: auto;
  }

  .aboutUs p{
    margin: 1em auto;
    font-size: 1em;
    max-width: 100%;
    padding: 0.5em;
    word-wrap: break-word;
  }
  
    
}

@media only screen and (max-width: 450px) {

  .aboutUs{
    height: auto;
    line-height: 1.4em;
  }

  .aboutUs p{
    margin: 1em auto;
    font-size: 1em;
    max-width: 100%;
    word-spacing: 4px;
    word-wrap: break-word;
  }
}

/* <!-- end: About Our Agency --> */

/* <!-- START: Services --> */

.section{
  /* background: darkblue;  */
  margin:auto;
  display: flex;
  justify-content: center;
  padding: 1em;
  height: auto;
    
}
  
.services{
    /*  background: yellow;  */
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
    position: relative;
    overflow-x: visible; 
}
.section img{
    bottom: 0em;
    height: 21vh;
    width: auto;
    /* margin-right: 10em; */
    /* backface-visibility: hidden; */
} 

.iconoServices{
  /*  background: rgb(113, 113, 230);  */
  position: relative; /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  width: 20em;
  height: 20em;
  
   /* border: 1px solid;*/ 
} 
.card{
   position: absolute;   /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   line-height : 35px; 
   transform:rotateY(0deg);     /* <<<<< ----animacion----- */
   transform-style: preserve-3d;
   transition: 0.5s cubic-bezier(0.4, 0.2, 0.2, 1) ;
   backface-visibility: hidden;  /* para ocultar la cara opuesta */
}
.front{
 /*   background: rgba(255, 255, 255, 0.322); */
   width:100% ;    /*  los % se utilizan para estirar al tamaño del div */
   height: 100%;  /* vw y vh es para estirar al tamaño de la pantalla */
   transform:rotateY(0deg); 
}
.back{
 /*  background: rgb(255, 255, 255);  */
  /* border-radius: 50%; */ 
  /* background: rgba(78, 78, 78, 0.116); */
 /*  border: 1px solid rgba(109, 109, 109, 0.315); */
  width:100%; 
  height: 100%; 
  padding: 3%;
  transform:rotateY(180deg);  /*180 grados, osea esta dado la vuelta */
}
.back img{
  width: 130px;
  height: auto;
}
.back p{
  width: 90%;
  margin: 0 auto;
  color: white;
  font-family: 'Spartan', sans-serif;
  font-size: 1em;
  text-align: center;
  line-height: 1.2em;
  text-align: justify;
}

/*  ----animacion----- */

.iconoServices:hover > .front{ /* cuando el raton se pone encima susede > que la cara frontal se da la vuelta */
   transform:rotateY(-180deg);
}

.iconoServices:hover > .back{ /* cuando el raton se pone encima susede > que la cara back se da la vuelta */
   transform:rotateY(0deg);
}
/* END -----Animacion------ */


/* --------@media section-------- */
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .section img{ 
    height: 12vh;
 } 
 .back p{
  font-size: 0.8em;
}
}


@media only screen and (max-width: 768px) {
  
    .section img{
      height: 25vh;
      width: auto;
    }
  
    .services{
    flex-direction:column ;
    }
    .back img{
      width: 110px;
      height: auto;
    }
    .back p{
      font-size: 1.1em;
    }
}

@media only screen and (max-width: 450px) {

  .section img{
    height: 30vh;
    width: auto;
  }
  .back img{
    width: 100px;
    height: auto;
  }
  .back p{
    font-size: 1.1em;
  }

  .services{
  flex-direction:column ;
  }

  .aboutUs img{
    width: 17em;
}
  
}



  /*----------------- Portfolio  GALERIA----------------------- */

.titulo{
  margin:4em auto ;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.titulo h1{
  padding: 0.3em;
  border-bottom: 2px solid #b7bbbf;
  width: 80%;
  text-align: center;
  font-family: 'Spartan', sans-serif;
}
.container-grid{
  display: grid;
  display: -webkit-grid;
  -webkit-grid-columns: repeat(4,1fr);
  grid-template-columns: repeat(4,1fr);
  margin: 2em auto;
  transition:all 2s; 
  align-items: stretch;
}
.container-grid img{
  width: 100%;
  cursor: pointer;
} 

@media only screen and (max-width: 768px) {
  .container-grid{
      grid-template-columns: repeat(3,1fr);  
    }
    .titulo{
      margin-top: 1em;
    }
    .titulo h1{
    padding: 0.7em;
    }
    .container-grid img{
      height: 100%;
    } 
    
  }
  
@media only screen and (max-width: 450px) {
  .container-grid{
      grid-template-columns: repeat(1,1fr); 
      row-gap: 0.5em; 
    }
    .titulo h1{
      margin-top: 1.5em;
      font-size: 1.6em;
    }
    .valign-center-elem{
      font-size: 0.7rem;
    }

}

/* -------------------LIGHTBOX------------------------ */
.container-img{
  background: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;   /* !!!!!!!!! */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  align-items: center;
  transform: translateX(-100%); /* esconder a la izquierda */
  -webkit-transform: translateX(-100%);

  transition: transform .4s ease-in;
  -webkit-transition: transform .4s ease-in;
  -moz-transition: transform .4s ease-in;
  -o-transition: transform .4s ease-in;

  z-index: 10;
}
.move{
  transform: translateX(0);
}
.img-show{
  /* width: 70%; */ /* portatil */
  width: 90%;
  margin: 0 auto;
  display: block;
  object-fit: cover; /* no destorsiona la img */
  transform: scale(0);
  transition: transform .2s .3s ease-in;
  overflow: hidden;
}
.show{
transform: scale(1);
}

.x{
  position: absolute;
  color: rgb(0, 0, 0);
  top: 4em;
  right: 1.1rem;
  font-size: 1.3em;
  cursor: pointer;
}
.imagen{
  display: flex;
  flex-direction: column;
  justify-content: space-around
}
.copy{
  margin: 1em 0;
}


@media only screen and (min-width:1024px){
   .imagen{
      /* background: red; */
      max-height: 80%; 
      max-width: 80%; 
  } 
  .imagen img{
      max-width: 70vw;
  }
  .fas.fa-times{
      font-size: 4em;
      top: 4em;
      right: 5em;
  }
  .scroll-ups {
      transform: scale(2);
  }
  .img-1{
      height: 100vh;
  }

}

/* ------start-----Carusel de frases----- */
.separador{
  height: 15em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
}

.imgCarusel{
  position: absolute;
  width: 100vw;
  overflow: hidden;
}

.imgCarusel ul{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 400%;
  /*  background: tomato; */

  animation: cambioDeImg 20s infinite;
  animation-direction: alternate;   /* para cuando llegue a 300% y nos enseñe la ultima img  vuelva en direccion contraria*/ 
  animation-timing-function: linear; 
}

.imgCarusel li{
  list-style: none;
  width: 100%;
  color: white;
  font-size: 2.5em; 
  margin:auto ;  
}
.imgCarusel p{
  /* background: chartreuse; */
  margin: auto;
  width: 38%;
  text-align: center;
  font-family: 'Poiret One', cursive;
  /*  font-weight: bold; */
  line-height: 1.3em;
}

@keyframes cambioDeImg {
  0% {margin-left: 0;}      /* img1!!! */
  10% {margin-left: 0;}     /* 4 seg (20% de 20 seg) la imagen no se mueve */

  15% {margin-left: -100%;}   /* la img se cambia img2!!!   */
  45% {margin-left: -100%;}   /* el cambio de una img a otra tardara 1 seg */

  50% {margin-left: -200%;}   /* la img se cambia img3!!!   */
  70% {margin-left: -200%;}

  75% {margin-left: -300%;}   /* la img se cambia img4!!!  */
  100% {margin-left: -300%;}
}
@media only screen and (max-width: 1024px){
  .imgCarusel li{
    font-size: 3em;
  }
  .imgCarusel p{
    width: 50%;
    line-height: 1.7em;
  }
}
@media only screen and (max-width: 768px){
  .imgCarusel li{
    font-size: 2.5em;
  }
  .imgCarusel p{
    width: 55%;
    line-height: 1.7em;
  }
}

@media only screen and (max-width: 450px) {
  .imgCarusel li{
    font-size: 1.7em;
  }
  .imgCarusel p{
    width: 80%;
    line-height: 1.2em;
  }
}





/* ------start-----CONTACTO----- */
  #contact{
    height:auto ;
  }
 
   .contactContainer{
     /* background-color: #E85425; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 3em;
    max-width: 75vw;
    height: auto;
    margin: auto;
    margin-bottom: 5.5em;
    font-family: 'Spartan', sans-serif;
  }

  .contactInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  .contactInfo a{
    text-decoration: none;
    max-width: 50vw;
    color: black;
  }

  .contactInfo ul{
    list-style: none;
  }
  .contactInfo li{
    line-height : 40px; 
  }
  .contactInfo ul li p{
    font-size: 0.7em;
    text-align: left;
  }
  .contactContainer p{
    text-align: left;
    font-size: 1.2em;
    font-family: 'Spartan', sans-serif;
  }

  @media only screen and (max-width: 800px) {
    .contactContainer{
      grid-template-columns: repeat(1,1fr); 
      grid-row-gap: 3em;
    }
  }

 /*  <!--Start -----FOOTER----- --> */

 footer {
  background-color:rgba(32, 32, 32, 0.185);
  padding: 0.6em;
   width: 100vw; 
  bottom: 0;
  /* position:fixed; */
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  
}
p{
  text-align: end;
  margin-right: 2em;
  font-size: 0.8em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer a{
  text-decoration: none;
  color:white ;
}